.container
{
    background-image: url(rest2.jpg) ;
    height: 900px;
    width: 1800px;
    background-repeat: no-repeat;
    padding: 10px;
    padding-right: 5px;
    background-size: cover;
    border: 3px solid black ;
    margin-left: 10px;
    margin-right: 10px;
    font-family:monospace;
}

.tab 
{
    width: 550px;
    height: 25px;
    border: 2px solid rgb(251, 228, 228);
    padding: 10px;
    word-spacing: 70px;
    background-color: rgb(237, 110, 172);
    text-align: center;
    top: 5px;
    left: 1200px;
    position: relative;
   
}

.name 
{
    color: rgb(100, 9, 114);
    font-family: fantasy;
    text-align: left;
    position: relative;
    font-size: 300%;
    top: -120px;
}

.menu 
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));;
    gap: 50px;
    justify-items: center;
    padding: 10px;
    margin-top: -70px;
}

.item {
    background-color: rgb(232, 232, 174);
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    width: 100%;
}

.item img {
    border-radius: 10px;
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.item h1 {
    font-size: 15px;
    color: black;
    margin-top: 15px;
}

.item p {
    color: black;
    margin-bottom: 1px;
}

.copyrights
{
    width: 1820px;
    height: 17px;
    background-color: darkblue;
    position: relative;
    text-align: center;
    color: antiquewhite;
    top: 390px;
    right: 10px;
}